<form class="card" [formGroup]="form" (ngSubmit)="submit()">

  <h1>Enter to Admin Panel</h1>

  <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
    {{error}}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>

  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control"
  >
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small
        *ngIf="form.get('email').errors.required"
      >
        Field "Email" is required
      </small>

      <small
        *ngIf="form.get('email').errors.email"
      >
        Field "Email" is invalid
      </small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control"
  >
    <label for="email">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation">
      <small
        *ngIf="form.get('password').errors.required"
      >
        Enter password
      </small>

      <small
        *ngIf="form.get('password').errors.minlength"
      >
        Password must be
        {{form.get('password').errors.minlength.requiredLength}}
        characters. Now it is
        {{form.get('password').errors.minlength.actualLength}}
        characters
      </small>

    </div>
  </div>

  <button
    [disabled]="form.invalid || submitted"
    type="submit"
    class="btn btn-primary">
    LogIn
  </button>

</form>
